extends layout

block content
  h1 Swift Detect
  p.lead A faster way for you to prcoess your auto insurance claims
  hr
  .row
    .col-md-6
      h2 Crash Report
      p Did you just get into a crash? Then click here to start your crash application. 
      p
        a.btn.btn-raised(href='/crash', role='button') Start Crash App »
    .col-md-6
      h2 Theft
      p Did someone just steal your car, apply here to start your theft application.
      p
        a.btn.btn-raised(href='/theft', role='button') Start Theft App »
    //- .col-md-6
    //-   h2 Heading
    //-   p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
    //-   p
    //-     a.btn.btn-raised(href='#', role='button') View details »
    //- .col-md-6
    //-   h2 Heading
    //-   p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
    //-   p
    //-     a.btn.btn-raised(href='#', role='button') View details »